[submodule "Waiter_Experiment"]
	path = Waiter_Experiment
	url = ../Waiter_Experiment
[submodule "Testing_and_CI_Relationship"]
	path = Testing_and_CI_Relationship
	url = ../Testing_and_CI_Relationship
[submodule "Simpsons_Paradox"]
	path = Simpsons_Paradox
	url = ../Simpsons_Paradox
[submodule "Significance_Testing_Caveats"]
	path = Significance_Testing_Caveats
	url = ../Significance_Testing_Caveats
[submodule "Inference_for_Proportions"]
	path = Inference_for_Proportions
	url = ../Inference_for_Proportions
[submodule "Inference_for_Means"]
	path = Inference_for_Means
	url = ../Inference_for_Means
[submodule "Hypothesis_Testing_Game"]
	path = Hypothesis_Testing_Game
	url = ../Hypothesis_Testing_Game
[submodule "Hypothesis_Testing"]
	path = Hypothesis_Testing
	url = ../Hypothesis_Testing
